@model TravelReview.Models.Reviews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h2>Card</h2>

<div class="cardOne">

    <img src="~/Images/Crystal-Ghost-Town-Fall-Colors-OutThere-Colorado-1.jpg"  alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
    </div>
</div>

<div class="cardTwo">

    <img src="~/Images/Glen-Canyon-Utah.jpg"  alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Utah</b></h4>
        <p>Glen Canyon</p>
    </div>
</div>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
